<h1>Tasks</h1>
<p>Welcome to your tasks</p>
<div class="row">
    <div class="col-lg-5">
        {{> Form}}
    </div>
    <div class="col-lg-7">
        {{#if !task}}
            {{> Task}}
        {{/if}}
    </div>
</div>